$primary-blue-100: #5D75AB;
$primary-blue-200: #4D6192;
$primary-blue-300: #3D4C78;
$primary-blue-400: #2D3960;
$primary-blue-500: #1C2647;

$primary-green-100: #7CBF7D;
$primary-green-200: #74B775;
$primary-green-300: #6DAE6E;
$primary-green-400: #66A666;
$primary-green-500: #439456;

$secondary-green-100: #82CA7A;
$secondary-green-200: #7CC275;
$secondary-green-300: #76BB70;
$secondary-green-400: #71B36C;
$secondary-green-500: #4FA45C;

$primary-gray-100: #F9F9FA;
$primary-gray-200: #E8E9ED;
$primary-gray-300: #797F93;

$func-red-100: #FFEFEE;
$func-red-200: #FFDEDE;
$func-red-300: #FFCECD;
$func-red-400: #FF5C58;

$func-yellow-100: #FEFBEC;
$func-yellow-200: #FEF6D9;
$func-yellow-300: #FDF2C6;
$func-yellow-400: #F9D340;

$func-green-100: #E9FAF1;
$func-green-100: #D5F5E4;
$func-green-100: #C0F0D7;
$func-green-100: #76BB70;


$white: #fff;

